*{
  padding: 0;
  margin: 0;
}
header h1{
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
}

nav {
  background-color: rgb(87, 87, 87);
  list-style-type: none;
  text-align: center;
}

nav li{
  display: inline-block;
  padding: 10px;
}
nav a{
  text-decoration: none;
  color: white;
  
}
nav li:hover{
  background-color: black;
}